.message_1{
    padding: 5px;
    text-align: left;
    color: black;
}
.message_2{
    padding: 5px;
    text-align: right;
    color: black;
}
.message_element_1{
    display: inline-block;

    font-size: 18px;
    padding: 10px;
    font-weight: 450;
    
    background-color: rgb(200, 250, 250);
    border-radius: 10px;
}
.message_element_2{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    
    background-color: rgb(227, 255, 255);
    border-radius: 10px;
}